bob==4.0.1
bob.blitz==2.0.15
bob.core==2.2.0
bob.extension==2.5.0
bob.io.base==3.0.3
bob.math==3.1.1
bob.measure==3.0.0
certifi==2018.1.18
click==6.7
click-plugins==1.0.3
cycler==0.10.0
Cython==0.28.2
docopt==0.6.2
kiwisolver==1.0.1
matplotlib==2.2.2
mkl-fft==1.0.0
mkl-random==1.0.1
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
tornado==5.0.1
